# Finding nearest neighbors of an incoming data point using k-Nearest Neighbors algorith(method 1).


# Ashutosh Mahajan

In [1]:
# Add team, names, and matriculation numbers

## Data Preprocessing

### Training Data

In [2]:
import csv
import numpy as np
import pandas as pd

# Below is an example how data preprocessing can be achieved with pandas module
train = pd.DataFrame()
test = pd.DataFrame()

train = pd.read_csv('trainData.csv',  dtype={'Color': str,'Radius (cm)':float,'Weight (grams)':float})

#########################  DATA Preprocessing  #############################
    
# drop duplicated rows
train = train.drop_duplicates()
    
# replace zeros entries with np.nan
train = train.replace(0,np.nan)
train = train.dropna() # drop all nan entiries 
    
# transform the nominal feature (color) to dummy
newCols = pd.get_dummies(train.iloc[:,0]) 
train = pd.concat([newCols, train], axis=1) # add them to the transfomed columns to the beggining  of the data frame
train = train.drop(train.columns[3], axis = 1) # drop nominal column (color)    

## normalization
min_radius = min(train.iloc[:,3])
max_radius = max(train.iloc[:,3])
train['Radius (cm)'] = list(map(lambda x: (float(x)-min_radius)/(max_radius-min_radius), train.iloc[:,3]))

## normalization
min_weight = min(train.iloc[:,4])
max_weight = max(train.iloc[:,4])
train['Weight (grams)'] = list(map(lambda x: (float(x)-min_weight)/(max_weight-min_weight), train.iloc[:,4]))

train

    Green  Red  Yellow  Radius (cm)  Weight (grams) Fruit (class)
0       0    0       1     0.064516        0.157895         Lemon
1       0    0       1     0.870968        0.263158         Apple
2       1    0       0     0.483871        1.000000          Pear
3       0    0       1     0.161290        0.135338         Lemon
4       0    0       1     0.000000        0.000000         Lemon
5       1    0       0     0.290323        0.345865         Apple
6       0    0       1     0.322581        0.150376         Lemon
7       0    0       1     1.000000        0.759398          Pear
8       1    0       0     0.129032        0.225564         Apple
9       0    0       1     0.354839        0.293233         Apple
10      0    1       0     0.580645        0.458647         Apple
11      1    0       0     0.096774        0.165414         Lemon
12      1    0       0     0.806452        0.842105          Pear
13      1    0       0     0.709677        0.699248          Pear
15      0    0       1     0.258065        0.097744         Lemon
16      1    0       0     0.774194        0.526316          Pear
17      0    0       1     0.064516        0.150376         Lemon
18      0    1       0     0.516129        0.458647         Apple
19      0    0       1     0.645161        0.714286          Pear
20      0    0       1     0.096774        0.172932         Lemon
21      0    0       1     0.000000        0.180451         Apple
22      1    0       0     0.193548        0.248120         Apple
23      0    1       0     0.548387        0.300752         Apple
24      1    0       0     0.677419        0.646617          Pear
25      0    0       1     0.451613        0.436090         Apple
26      0    0       1     0.354839        0.165414         Lemon
27      1    0       0     0.129032        0.187970         Lemon
28      0    0       1     0.000000        0.007519         Lemon
29      1    0       0     0.322581        0.338346         Apple
31      0    0       1     1.000000        0.766917          Pear

### Test Data

In [3]:
test = pd.DataFrame()
test = pd.read_csv('testData.csv',  dtype={'Color': str,'Radius (cm)':float,'Weight (grams)':float})

#########################  DATA Preprocessing  #############################
    
# drop duplicated rows
test= test.drop_duplicates()

# transform the nominal feature (color) to dummy
newCols=pd.get_dummies(test.iloc[:,0]) 
test = pd.concat([newCols, test], axis=1) # add them to the transfomed columns to the beggining  of the data frame
test= test.drop(test.columns[3], axis = 1) # drop nominal column (color)    

## normalization like training data
test['Radius (cm)'] = list(map(lambda x: (float(x)-min_radius)/(max_radius-min_radius), test.iloc[:,3]))

## normalization like training data
test['Weight (grams)'] = list(map(lambda x: (float(x)-min_weight)/(max_weight-min_weight), test.iloc[:,4]))

test

,Green,Red,Yellow,Radius (cm),Weight (grams),Predicted (class),Original (class)
0,0,0,1,0.129032,0.180451,NaN,Lemon
1,1,0,0,0.677419,0.375940,NaN,Pear
2,1,0,0,0.354839,0.413534,NaN,Pear
3,0,1,0,0.258065,0.187970,NaN,Apple
4,0,0,1,0.258065,0.150376,NaN,Lemon

In [4]:
import pandas as pd

df=pd.DataFrame(train)
new_training=df[["Radius (cm)","Weight (grams)","Green","Red","Yellow"]]
new_df=new_training.copy()  #copying records of training dataset to new dataframe to sort the sequence.
new_df

    Radius (cm)  Weight (grams)  Green  Red  Yellow
0      0.064516        0.157895      0    0       1
1      0.870968        0.263158      0    0       1
2      0.483871        1.000000      1    0       0
3      0.161290        0.135338      0    0       1
4      0.000000        0.000000      0    0       1
5      0.290323        0.345865      1    0       0
6      0.322581        0.150376      0    0       1
7      1.000000        0.759398      0    0       1
8      0.129032        0.225564      1    0       0
9      0.354839        0.293233      0    0       1
10     0.580645        0.458647      0    1       0
11     0.096774        0.165414      1    0       0
12     0.806452        0.842105      1    0       0
13     0.709677        0.699248      1    0       0
15     0.258065        0.097744      0    0       1
16     0.774194        0.526316      1    0       0
17     0.064516        0.150376      0    0       1
18     0.516129        0.458647      0    1       0
19     0.645161        0.714286      0    0       1
20     0.096774        0.172932      0    0       1
21     0.000000        0.180451      0    0       1
22     0.193548        0.248120      1    0       0
23     0.548387        0.300752      0    1       0
24     0.677419        0.646617      1    0       0
25     0.451613        0.436090      0    0       1
26     0.354839        0.165414      0    0       1
27     0.129032        0.187970      1    0       0
28     0.000000        0.007519      0    0       1
29     0.322581        0.338346      1    0       0
31     1.000000        0.766917      0    0       1

In [21]:
in_list=new_df.values.tolist()  #convert dataframe to list form
display(in_list)

[[0.06451612903225798, 0.15789473684210525, 0.0, 0.0, 1.0],
 [0.8709677419354838, 0.2631578947368421, 0.0, 0.0, 1.0],
 [0.48387096774193544, 1.0, 1.0, 0.0, 0.0],
 [0.16129032258064516, 0.13533834586466165, 0.0, 0.0, 1.0],
 [0.0, 0.0, 0.0, 0.0, 1.0],
 [0.29032258064516125, 0.3458646616541353, 1.0, 0.0, 0.0],
 [0.3225806451612903, 0.15037593984962405, 0.0, 0.0, 1.0],
 [1.0, 0.7593984962406015, 0.0, 0.0, 1.0],
 [0.1290322580645161, 0.22556390977443608, 1.0, 0.0, 0.0],
 [0.3548387096774194, 0.2932330827067669, 0.0, 0.0, 1.0],
 [0.5806451612903225, 0.45864661654135336, 0.0, 1.0, 0.0],
 [0.09677419354838704, 0.16541353383458646, 1.0, 0.0, 0.0],
 [0.8064516129032256, 0.8421052631578947, 1.0, 0.0, 0.0],
 [0.7096774193548386, 0.6992481203007519, 1.0, 0.0, 0.0],
 [0.2580645161290322, 0.09774436090225563, 0.0, 0.0, 1.0],
 [0.7741935483870968, 0.5263157894736842, 1.0, 0.0, 0.0],
 [0.06451612903225798, 0.15037593984962405, 0.0, 0.0, 1.0],
 [0.5161290322580645, 0.45864661654135336, 0.0, 1.0, 0.0],
 [0.6451612903225805, 0.7142857142857143, 0.0, 0.0, 1.0],
 [0.09677419354838704, 0.17293233082706766, 0.0, 0.0, 1.0],
 [0.0, 0.18045112781954886, 0.0, 0.0, 1.0],
 [0.19354838709677422, 0.24812030075187969, 1.0, 0.0, 0.0],
 [0.5483870967741934, 0.3007518796992481, 0.0, 1.0, 0.0],
 [0.6774193548387097, 0.6466165413533834, 1.0, 0.0, 0.0],
 [0.4516129032258064, 0.43609022556390975, 0.0, 0.0, 1.0],
 [0.3548387096774194, 0.16541353383458646, 0.0, 0.0, 1.0],
 [0.1290322580645161, 0.18796992481203006, 1.0, 0.0, 0.0],
 [0.0, 0.007518796992481203, 0.0, 0.0, 1.0],
 [0.3225806451612903, 0.3383458646616541, 1.0, 0.0, 0.0],
 [1.0, 0.7669172932330827, 0.0, 0.0, 1.0]]

In [25]:
# calculate the Euclidean distance between two vectors:

def euc_dist(row1, row2):        #function for ED of first record in training dataset with other records.
    s = 0.0                      #We must add each records from test dataset statically to 0th row in new_df.
    for i in range(len(row1)-3):          #selecting columns except last 3              
        s += (row1[i] - row2[i])**2  
        s_r= s**0.5                       #sqrt(x)= x^0.5
    return(s_r)


rowx = in_list[0]
display("Below are the euclidian distances of first record with rest : ")   #ED of the the first record with all the other samples 
for row in in_list:                                                         #in form of aa,ab,ac,ad,ae,af and so on.
    distance = euc_dist(rowx, row) 
    display(distance)

'Below are the euclidian distances of first record with rest : '

0.0

0.8132924052050323

0.9407442558886271

0.09936818057541358

0.17056693357079686

0.2938047756995292

0.2581740242416455

1.1121766250966234

0.09349571043985212

0.3203180742540904

0.5973615915693586

0.033122726858471195

1.0092632493795541

0.8421974687167029

0.2026796631965526

0.7996099746528331

0.007518796992481203

0.5425918424586502

0.8041888603496814

0.0355908971393434

0.0683456046811663

0.15744832804467854

0.5045188566236382

0.7839000997631741

0.4766934471295097

0.2904199255228201

0.0711817942786868

0.16363145843927662

0.31489665608935696

1.116260967262491

In [23]:
def call_neighbors(training, testing, in_vicinity):
    howfar = list()
    for train_row in training:
        dist = euc_dist(testing, train_row)
        howfar.append((train_row, dist))
    howfar.sort(key=lambda tup: tup[1])
    neighbors = list()
    for i in range(in_vicinity):
        neighbors.append(howfar[i][0])
    return neighbors

# for k=3
neighbors=call_neighbors(in_list,in_list[0],3)
for members in neighbors:
    print(members[0:2],'\n')
print("Above is the set of closest 3 data members.")

# for k=1
neighbors=call_neighbors(in_list,in_list[0],1)
for members in neighbors:
    display(members[0:2])
display("Above is the closest 1 data member.")

[0.06451612903225798, 0.15789473684210525]

[0.06451612903225798, 0.15037593984962405]

[0.09677419354838704, 0.16541353383458646]

Above is the set of closest 3 data members.

[0.06451612903225798, 0.15789473684210525]

'Above is the closest 1 data member.'

In [ ]:
#process will continue by statically adding incoming datapoints to 0th row in dataframe new_df.

#further, we can also design a function to predict the classes of the incoming datapoints.